
/* makes it so that you do not have the arrow wheel next to the numbers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }


.menu-backgroud {
    height: 50vh;
    width: 40vw;
    background-color: rgb(195, 195, 195);
    margin: 0px auto;
    /* padding: 0px; */
}

.range {
    height: 2vh;
    width: 3vw;
    background-color: rgb(217, 217, 217);
    margin: auto;
    /* position: relative; */
    text-align: center;
    
    
}

.range::background_num {
    color:brown;
}

.startButton {
    height: 3vh;
    width: 6vw;
    border-radius: 8px;
    ;
}


.board {
    top: 5vh;
    height: 25vh;
    background-color: grey;

}

.question {
    display: flex;
    top: 5vh;
    height: 20vh;
    line-height: 20vh;
    background-color: grey;
    border-radius: 50px;
    text-align: center;
    font-size: 10vh;
    font: Serif;
    align-items: center;
    justify-content: center;
    z-index: 5;

}

.filler {
    height: 40vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-family: monospace;
}

.answer {
    height: 16vh;
    width: 20%;
    font-size: 10vh;
    font-family: monospace;
    align-items: center;

}